body {
  background-color: #2a363b;
  color: white;
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.Content {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 20rem;
  height: 20rem;
  resize: none;
  text-align: center;
  background-color: #2a363b;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 10px 0px 20px 0px;
}

textarea::placeholder {
  color: rgb(163, 163, 163);
}

.Buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.page-buttons {
  flex-shrink: 0;
  background-color: #74AA9C;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  transition: 0.2s ease;
  font-weight: bold;
  margin-top: 20px;
}

.page-buttons:hover {
  background-color: #5a8d80;
  box-shadow: 0px 0px 15px #5a8d80;
}

.page-buttons:active {
  transform: translate(0,-2px);
}