.App {
  text-align: center;
  margin-top: 50px;
}


textarea {
  margin : auto;
  width: 50%;
  height: 100px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 40px;
}

p {
  white-space: pre-wrap;
}
